@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --color1: #0C1821;
    --color2: #1B2A41;
    --color3: #324A5F;
    --color4: #00b2f1;
}
html {
    min-width: 100vw
}


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
  }

body {
    margin: 0;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

main {
    display: inline-block;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

header {
    background-color: #c5c5c5;
    height: 15vh;
    display: flex;
}

.layout{
    display: flex;
    height: 90vh;
}

.navbar {
    background-color: var(--color2);
    width: 11vw;
}

.container {
    background-color: var(--color1);
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    overflow-x: auto; /* Horizontal overflow scroll */
    white-space: nowrap; /* Prevent cards from wrapping */
    justify-content: center;
    justify-items: center;
}

.quarter {
    width: 11vw;
    background-color: var(--color2);
}

.filler{
    color: var(--color4);
    flex: 1;
    background-color: var(--color1);
    display: flex;
    padding-left: 2%;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 0%;
    margin-right: 10%;
}

li {
    list-style-type: none;
    padding: 20px;
}

li:hover {
    background-color: var(--color3);
}

a {
    text-decoration: none;
    color: var(--color4);
}

a:hover {
    background-color: var(--color3);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center {
    display: inline-block;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.bugfix {
    width: 50%;
    height: 50%;
}
